.form {
  padding: 1.5rem 0rem 2rem 0rem;
}
.button {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  margin: 2rem 0rem 3rem 0rem;
}
.button span {
  font-weight: 500;
}
.btnText {
  text-decoration: underline;
  color: #1d8ea4;
  font-weight: 500;
}
.mobileDisplay {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0.5rem;
}

.radioText {
  color: rgba(0, 0, 0, 0.45);
  margin-left: 1.5rem;
}
.btnGroup {
  position: fixed;
  bottom: 0px;
}
.picWidth {
  width: 100%;
}
.textBtn {
  margin-bottom: 2rem;
  border: none;
  margin-left: -1rem;
}
.text {
  margin-top: 1.5rem;
  display: block;
}
.formItem {
  margin-bottom: 0rem;
  width: 100%;
}
.radioGroup {
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}
.budgetForm {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

@media screen and (max-width: 992px) {
  .jobSection {
    padding-left: 3rem;
  }
  .mobileDisplay {
    display: block;
  }
  .discriptionText {
    display: none;
  }
  .form {
    padding-bottom: 0rem;
  }
  .button {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 578px) {
  .jobSection {
    padding: 1rem;
    width: 100%;
  }
  .bottmBtn {
    width: 100%;
  }
}
