.mainSection {
  max-width: 92rem;
  width: 100vw;

  margin: 3rem auto 0rem;
  text-align: -webkit-center;
}
.form {
  padding: 1.5rem 0rem 2rem 0rem;
}
.button {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  margin: 2rem 0rem 3rem 0rem;
}
.button span {
  font-weight: 500;
}
.btnText {
  text-decoration: underline;
  color: #1d8ea4;
  font-weight: 500;
}
.mobileDisplay {
  display: none;
}
.discriptionText {
  color: rgba(0, 0, 0, 0.45);
}

@media screen and (max-width: 992px) {
  .jobSection {
    padding-left: 3rem;
  }
  .mobileDisplay {
    display: block;
  }
  .discriptionText {
    display: none;
  }
  .form {
    padding-bottom: 0rem;
  }
  .button {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 578px) {
  .jobSection {
    padding: 1rem;
  }
}
